<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Noto+Sans+SC:wght@100..900&display=swap" rel="stylesheet">
    <title><%= title %></title>
</head>
<body>
    <header class="header allHeaders" id="header">
        <div class="container">
            <img src="/media/snow-16036.gif" alt="snowing animation" class="snowGif">
            <h1 class="h1-heading display-1 text-center mb-3"><%= name %></h1>
                <div class="text-center mb-3 d-flex flex-wrap justify-content-evenly">
                    <a href="/" class="linkButton">Home</a>
                    <a href="/allPrograms" class="linkButton">Collection</a>          
                    <a href="/programForm" class="linkButton">Movie/TV Series Form</a>     
                    <a href="/actorForm" class="linkButton">Actor/Actress Form</a>
                </div>
        </div>
    </header>