* {box-sizing: border-box;}

body {
    background-color: var(--color1);
    color: black;
}

header {
    background-color: black;
}

:root {
    --color1:#99ADA2;
    --color2:#AD99A4;
    --color3:#999AAD;
    --color4:#ADAC99;
    --color5:#FFDFB9; 
    --color6:#A4193D;
}

/** All Program Section */
.movieSize {
    width: 250px;
    height: 350px;
    border: 10px solid black;
}

.allButton {
    background-color: black;
    border-radius: 16px;
}

.linkButton {
    text-decoration: none;
    color: var(--color3);
}


/** Single Program Section */
/* #region */
h1 {
    background-color: black;
    color: var(--color2);
    line-height: 2;
}

.soloSize {
    width: 450px;
    height: 550px;
    border: 10px solid black;
}

.programDescription {
    width: 600px;
}

ul {
    list-style-type: none;
}

/* #endregion */
