* {box-sizing: border-box;}

body {
    background-color: var(--color6);
    color: black;
}

header {
    background-color: black;
    padding-bottom: 5px;
    font-family: "Cinzel", serif;
}

.mainHome {
    background-color: #00000092;
}

.headerHome {
    font-size: xx-large;
}

.card-body{ 
    color: var(--color6);
    background-color: var(--color5);
}

.homeFormSection {
    margin-bottom: 31px;
}

.snowGif {
    position: fixed;
    z-index: -1;
}

:root {
    --color1:#99ADA2;
    --color2:#AD99A4;
    --color3:#999AAD;
    --color4:#ADAC99;
    --color5:#FFDFB9; 
    --color6:#A4193D;
}

/** All Program Section */
/* #region */
.movieSize {
    width: 250px;
    height: 350px;
    border: 10px solid #00000092;
}

.allButton {
    background-color: var(--color5);
    font-family: "Noto Sans SC" sans-serif;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
}

.linkButton {
    text-decoration: none;
    color: var(--color6);
    font-family: "Noto Sans SC", sans-serif;
    font-weight: bold;
}

/* #endregion */


/** Single Program Section */
/* #region */
h1 {
    color: var(--color5);
    line-height: 2;
}

.soloTitle {
    font-family: "Cinzel", serif;
}

.soloSize {
    width: 450px;
    height: 550px;
    border: 10px solid black;
}

.soloPrograms {
    border: 10px solid black;
    padding-left: 5px;
}

.programDescription {
    width: 600px;
    font-family: "Noto Sans SC", sans-serif;
    color: var(--color5);
    
}

ul {
    list-style-type: none;
}

.singleLinkButton{
    text-decoration: none;
    color: var(--color5);
    font-family: "Noto Sans SC", sans-serif;
    font-weight: bold;
}

.christmasText {
    color: var(--color2);
}
/* #endregion */

/** Form Section  */
/* #region */
label {
    font-weight: bold;
    color: var(--color5);
}

.formDocument{
    border: 5px solid var(--color5);
    padding: 20px;
}

.form-control {
    color: var(--color5);
    background-color: #00000092;
    border: 5px solid black;
}

.form-control::placeholder {
    color: var(--color2);
}

#rating, #format {
    background-color: #00000092;
    color: var(--color5);
}

.actorForm {
    background-color: #00000092;
}

.snowGlobe {
    width: 660px;
    height: 383px;
    z-index: -2;
    box-shadow: 15px 20px 20px 15px;
}
/* #endregion */

footer {
    background-color: black;
}