* {box-sizing: border-box;}

body {
    background-color: var(--color6);
    color: black;
}

header {
    background-color: black;
    padding-bottom: 5px;
    font-family: "Cinzel", serif;
}

.headerHome {
    font-size: xx-large;
}

.card-body{ 
    color: var(--color6);
    background-color: var(--color5);
}

:root {
    --color1:#99ADA2;
    --color2:#AD99A4;
    --color3:#999AAD;
    --color4:#ADAC99;
    --color5:#FFDFB9; 
    --color6:#A4193D;
}

/** All Program Section */
/* #region */
.movieSize {
    width: 250px;
    height: 350px;
    border: 10px solid var(--color1);
}

.allButton {
    background-color: var(--color5);
    font-family: "Noto Sans SC" sans-serif;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
}

.linkButton {
    text-decoration: none;
    color: var(--color6);
    font-family: "Noto Sans SC", sans-serif;
    font-weight: bold;
}
/* #endregion */


/** Single Program Section */
/* #region */
h1 {
    color: var(--color5);
    line-height: 2;
}

.soloTitle {
    font-family: "Cinzel", serif;
}

.soloSize {
    width: 450px;
    height: 550px;
    border: 10px solid black;
}

.programDescription {
    width: 600px;
    font-family: "Noto Sans SC", sans-serif;
    color: var(--color5);
}

ul {
    list-style-type: none;
}

.singleLinkButton{
    text-decoration: none;
    color: var(--color5);
    font-family: "Noto Sans SC", sans-serif;
    font-weight: bold;
}

.christmasText {

}
/* #endregion */

/** Form Section  */
/* #region */
label {
    font-weight: bold;
    color: var(--color5);
}

.formDocument{
    border: 5px solid yellow;
    padding: 20px;
}

.form-control {
    color: var(--color5);
    background-color: rgba(0, 0, 0, 0.573);
    border: 5px solid black;
}