* {box-sizing: border-box;}

body {
    background-color: var(--color6);
    color: black;
}

header {
    background-color: black;
    padding-bottom: 5px;
    font-family: "Cinzel", serif;
}

.mainHome {
    background-color: var(--color7);
}

.headerHome {
    font-size: xx-large;
}

.card-body{ 
    color: var(--color6);
    background-color: var(--color5);
}

.homeFormSection {
    margin-bottom: 31px;
}

.snowGif {
    position: fixed;
    z-index: -1;
}

:root {
    --color1:#99ADA2;
    --color2:#AD99A4;
    --color3:#999AAD;
    --color4:#ADAC99;
    --color5:#FFDFB9; 
    --color6:#A4193D;
    --color7:#00000092;
}

/** All Program Section */
/* #region */
.movieSize {
    width: 250px;
    height: 350px;
    border: 10px solid var(--color7);
    box-shadow: black 13px 11px 20px 0px;
}

.allButton {
    background-color: var(--color5);
    font-family: "Noto Sans SC" sans-serif;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
}

.linkButton {
    text-decoration: none;
    color: var(--color6);
    font-family: "Noto Sans SC", sans-serif;
    font-weight: bold;
}

/* #endregion */


/** Single Program Section */
/* #region */
h1 {
    color: var(--color5);
    line-height: 2;
}

.soloTitle {
    font-family: "Cinzel", serif;
    text-shadow: 8px 0px 5px black;
}

.soloSize {
    width: 450px;
    height: 550px;
    border: 10px solid black;
    box-shadow: 20px 10px 0px 1px var(--color7);
}

.soloPrograms {
    border: 10px solid black;
    padding-left: 5px;
    margin-bottom: 0px;
    background-color: var(--color7);
    box-shadow: 11px 9px 8px 1px var(--color7);
}

.programDescription {
    width: 600px;
    font-family: "Noto Sans SC", sans-serif;
    color: var(--color5);
}

ul {
    list-style-type: none;
    color: #debd5a;
    text-shadow: 5px 4px 3px black;
}

ul strong {
    color: #ff0000;
    text-shadow: 5px 4px 3px black;
}

.singleLinkButton{
    text-decoration: none;
    color: var(--color5);
    font-family: "Noto Sans SC", sans-serif;
    font-weight: bold;
}

.christmasText {
    color: var(--color2);
}
/* #endregion */

/** Form Section  */
/* #region */
label {
    font-weight: bold;
    color: var(--color5);
}


.form-control {
    color: var(--color5);
    background-color: var(--color7);
    border: 5px solid black;
}

.form-control::placeholder {
    color: var(--color2);
}

#rating, #format {
    background-color: var(--color7);
    color: var(--color5);
}

.actorForm {
    background-color: var(--color7);
}

.snowGlobe {
    /* width: 100%; */
    height: 383px;
    position: relative;
    z-index: -2;
    box-shadow: -1px 20px 20px 15px;
}

.christmasBackground {
    width: 100%;
    height: 110%;
    position: absolute;
    opacity: 0.7;
    z-index: -3;
}
/* #endregion */

footer {
    background-color: black;
}