* {box-sizing: border-box;}

body {
    background-color: var(--color6);
    color: black;
}

header {
    background-color: black;
    padding-bottom: 5px;
    font-family: "Cinzel", serif;
}

:root {
    --color1:#99ADA2;
    --color2:#AD99A4;
    --color3:#999AAD;
    --color4:#ADAC99;
    --color5:#FFDFB9; 
    --color6:#A4193D;
    --color7:#00000092;
}

/*! HOMEPAGE  */
/* #region */

.mainHome {
    background-color: var(--color7);
    position: fixed;
    width: 100%;
    height: 100%;
}

.headerHome {
    font-size: xx-large;
}

.card-body{ 
    color: var(--color6);
    background-color: var(--color5);
}

.homeFormSection {
    margin-bottom: 21px;
}

.snowGif {
    position: absolute;
    width: -webkit-fill-available;
    z-index: -1;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.thanksUl, .thanksStrong {
    text-shadow: none;
    color: var(--color7);
}

/* #endregion */

/*TODO All Program Section */
/* #region */
.movieSize {
    width: 250px;
    height: 350px;
    border: 10px solid var(--color7);
    box-shadow: black 13px 11px 20px 0px;
}

.allButton {
    background-color: var(--color5);
    font-family: "Noto Sans SC", sans-serif;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
}

.linkButton {
    text-decoration: none;
    color: var(--color6);
    font-family: "Noto Sans SC", sans-serif;
    font-weight: bold;
}

/* #endregion */

/*? Single Program Section */
/* #region */
h1 {
    color: var(--color5);
    line-height: 2;
}

.soloTitle {
    font-family: "Cinzel", serif;
    text-shadow: 8px 0px 5px black;
}

.infoProgram {
    gap: 3em;
}

.soloSize {
    width: 450px;
    height: 600px;
    border: 10px solid black;
    box-shadow: 20px 10px 0px 1px var(--color7);
}

.soloPrograms {
    width: 450px;
    height: 600px;
    border: 10px solid black;
    padding-left: 5px;
    margin-bottom: 0px;
    background-color: var(--color7);
    box-shadow: 20px 10px 3px 1px var(--color7);
}

.programDescription {
    font-family: "Noto Sans SC", sans-serif;
    font-size: smaller;
    color: var(--color5);
    margin-left: 5px;
    margin-right: 5px;
}

ul {
    list-style-type: none;
    color: #debd5a;
    text-shadow: 5px 4px 3px black;
}

ul strong {
    color: #ff0000;
    text-shadow: 5px 4px 3px black;
}

.singleLinkButton{
    text-decoration: none;
    color: var(--color5);
    font-family: "Noto Sans SC", sans-serif;
    font-weight: bold;
}

.christmasText {
    color: var(--color2);
}
/* #endregion */

/** Form Section  */
/* #region */
label {
    font-weight: bold;
    color: var(--color5);
}

.formDocument {
    width: 85%;
    text-align: center;
    margin-bottom: 50px;
}

.form-control {
    color: var(--color5);
    background-color: var(--color7);
    border: 5px solid black;
}

.form-control::placeholder {
    color: var(--color2);
}

#rating, #format, #age_restrict {
    background-color: var(--color7);
    color: var(--color5);
}

.actorsForm {
    background-color: var(--color7);
    width: auto;
    height: 100%;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    z-index: -1;
}

.snowGlobe {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -3;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.christmasBackground {
    width: 100%;
    height: auto;
    position: fixed;
    opacity: 0.7;
    z-index: -3;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
/* #endregion */

/*! Error Page Section */
/* #region */
.errorMessage {
    font-weight: bolder;
}

.christmasError {
    width: 250px;
    height: 370px;
    animation: christmasBanger 4s linear 0s infinite normal none;
}

@keyframes christmasBanger {
  0% {
	transform: scale(1);
  }

  50% {
	transform: scale(1.1);
  }

  100% {
	transform: scale(1);
  }
}

/* #endregion */


footer {
    background-color: black;
    bottom: 0;
    position: fixed;
    width: 100%;
}