<%- include('../partials/header') %>

<main class="main" id="main">
    <img src="/media/backrooms-christmas.jpeg" alt="image of a christmas tree in the forbidden backrooms">
    <div class="container">
        <h2 class="text-center errorMessage">404 Error. Page not found.</h2>
        <p class="text-end"><a href="/" class="singleLinkButton">Return Home</a></p>
    </div>
</main>

<%- include('../partials/footer') %>