<%- include('../partials/header') %>
    <main class="main" id="main">
        <p>Christmas is in the air and here is a list of the movies we have to share!! Come take a look at our collection!</p>
        <ul>
            <!-- <li><a href="/director-form">Directors</a></li>
            <li><a href="/company-form">Companies</a></li> -->
        </ul>
        <p>See something that needs to be added? Fill out one of our many forms we have listed below!</p>
        <ul>
            <li><a href="/programForm">Movie/TV Series Form</a></li>
            <li><a href="/actorForm">Actor/Actress Form</a></li>

        </ul>
    </main>
</body>    
<%- include('../partials/footer') %>  