<%- include('../partials/header') %>

<main class="main" id="main">
    <div class="container">
        <p class="">Christmas is in the air and here is a list of the movies and shows to share!! Come take a look at our collection!</p>
        <div class="text-end">
            <a href="/allPrograms">All Programs</a> ||
            <a href="/programForm">Movie/TV Series Form</a>
            <a href="/actorForm">Actor/Actress Form</a>
        </div>
        <p>See something that needs to be added? Fill out one of our many forms we have listed below!</p>
    </div>

    <button 
        class="btn btn-outline-primary" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#collapseExample" 
        aria-expanded="false" 
        aria-controls="collapseExample">

        Giving Thanks
    </button>

    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <ul>
                <li>Animated snow gif: Iris,Helen,silvy from Pixabay</li>
                <li>Program Images: IMDB website</li>
                <li>Snow Globe Image: ZT OSCAR from Pixabay</li>
                <li></li>
                <li></li>
            </ul>
            
            
        </div>
    </div>
</main>  

<%- include('../partials/footer') %>  