<%- include('../partials/header') %>

<main class="main" id="main">
    <div class="container">
        <div class="d-flex mt-4">

            <div class="mb-3 col-6 me-auto">
                <div class="mb-3">
                    <p class="christmasText">Christmas is in the air and here is a list of the movies and shows to share!! Come take a look at our collection!</p>
                    <button class="allButton">
                        <a href="/allPrograms" class="linkButton">Collection</a>
                    </button>          
                </div>
                
                <div class="mb-3 ">
                    <p class="christmasText">See something that needs to be added? Fill out one of our forms we have listed below!</p>
                    <button class="allButton">
                        <a href="/programForm" class="linkButton">Movie/TV Series Form</a>     
                    </button>
                    <button class="allButton">
                        <a href="/actorForm" class="linkButton">Actor/Actress Form</a>
                    </button>
                </div>
            </div>
            
            <div>
                <button 
                    class="btn btn-outline-info mb-3" 
                    type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#collapseExample" 
                    aria-expanded="false" 
                    aria-controls="collapseExample">
            
                    Giving Thanks
                </button>
            
                <div class="collapse mt-3" id="collapseExample">
                    <div class="card card-body">
                        <ul>
                            <li><strong>Animated snow gif:</strong> Iris,Helen,silvy from Pixabay</li>
                            <li><strong>Program Images:</strong> IMDB website</li>
                            <li><strong>Snow Globe Image:</strong> ZT OSCAR from Pixabay</li>
                            <li></li>
                            <li></li>
                        </ul>
                        
                        
                    </div>
                </div>
            </div>
        </div>

    </div>

</main>  

<%- include('../partials/footer') %>  