<%- include('../partials/header') %>

<main class="main" id="main">
    <div class="container">
        <p class="text-center">Christmas is in the air and here is a list of the movies and shows to share!! Come take a look at our collection!</p>
        <div class="d-flex justify-content-evenly mb-3">
            <button>
                <a href="/allPrograms" class="linkButton">Collection</a>
            </button>          
        </div>
        
        <p class="text-center">See something that needs to be added? Fill out one of our forms we have listed below!</p>
        <div class="d-flex justify-content-evenly mb-3">
            <button>
                <a href="/programForm" class="linkButton">Movie/TV Series Form</a>     
            </button>
            <button>
                <a href="/actorForm" class="linkButton">Actor/Actress Form</a>
            </button>
        </div>
        
    </div>

    <button 
        class="btn btn-outline-primary" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#collapseExample" 
        aria-expanded="false" 
        aria-controls="collapseExample">

        Giving Thanks
    </button>

    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <ul>
                <li><strong>Animated snow gif:</strong> Iris,Helen,silvy from Pixabay</li>
                <li><strong>Program Images:</strong> IMDB website</li>
                <li><strong>Snow Globe Image:</strong> ZT OSCAR from Pixabay</li>
                <li></li>
                <li></li>
            </ul>
            
            
        </div>
    </div>
</main>  

<%- include('../partials/footer') %>  