<%- include('../partials/header') %>

<main class="main" id="main">
    <div class="container">
        <h2 class="text-center errorMessage">Data Successfully Entered!</h2>
    </div>
    <p class="text-end"><a href="/" class="singleLinkButton">Back to Homepage</a></p>
</main>

<%- include('../partials/footer') %>