<%- include('../../partials/header') %>

<main class="main" id="main">
        <!-- <img src="/media/Red Tree.jpg" alt="red sparkly christmas tree" class="christmasBackground"> -->
        <div class="d-flex justify-content-center align-items-center actorForm">
            <img src="/media/snow globe.png" alt="image of a snowglobe" class="snowGlobe">
            <form 
            action="http://localhost:3713/api/actor/create"
                method="post"
                class="form" 
                id="actorForm"
                >
                <div class="row mb-3">
                    <div class="">
                        <label for="first_name" class="form-label text-capitalize">
                            first name
                        </label>
                        <input 
                        type="text" 
                        id="first_name" 
                        name="first_name" 
                        class="form-control">
                    </div>
                    
                    
                    <div class="">
                        <label for="last_name" class="form-label text-capitalize">
                            last name
                        </label>
                        <input 
                        type="text" 
                        id="last_name" 
                        name="last_name" 
                        class="form-control">
                    </div>
                </div>
                
                <button 
                class="allButton ms-5" 
                type="submit" 
                role="button">
                Add Actor
                </button>
            </form>
        </div>
</main>

<%- include('../../partials/footer') %>