<%- include('../../partials/header') %>

<main class="main" id="main">
    <div class="container">
        <h2 class="text-center text-capitalize">add an actor below!</h2>
        <form 
            action="http://localhost:3713/api/actor/create"
            method="post"
            class="form" 
            id="actorForm"
        >
        <div class="row mb-3">
            <div class="col-4">
                <label for="first_name" class="form-label text-capitalize">
                    first name
                </label>
                <input 
                    type="text" 
                    id="first_name" 
                    name="first_name" 
                    class="form-control">
            </div>
            
            
            <div class="col-4">
                <label for="last_name" class="form-label text-capitalize">
                    last name
                </label>
                <input 
                type="text" 
                id="last_name" 
                name="last_name" 
                class="form-control">
            </div>
        </div>
        

    
        <button 
            class="btn btn-primary" 
            type="submit" 
            role="button">Add Actor</button>
        </form>
        <p class="text-end"><a href="/">Return Home</a></p>
    </div>
</main>

<%- include('../../partials/footer') %>