<%- include('../../partials/header') %>

<main class="main" id="main">
    <div class="container">
        <img src="/media/Red Tree.jpg" alt="red sparkly christmas tree" class="christmasBackground">
        <div class="row justify-content-center">
            <form 
            action="http://localhost:3713/api/program/create"
            method="post"
            enctype="multipart/form-data"
            class="form formDocument" 
            id="programForm"
        >

        <!--! Title, Year Released and Runtime  -->
        <!-- #region -->
        <div class="mb-3 mt-3">
            <label for="title" class="form-label">
                Title of Program:
            </label>
            <input 
            type="text" 
            id="title" 
            name="title" 
            class="form-control" required>
        </div>
        
        <div class="d-flex flex-wrap justify-content-around align-items-end mb-4 text-center">
            <div class="col-4">
                <label for="yr_released" class="form-label">
                    Year Released:
                </label>
                <input 
                    type="text" 
                    id="yr_released" 
                    name="yr_released" 
                    maxlength="4"
                    class="form-control" required>
            </div>
            
            <div class="col-4">
                <label for="runtime" class="form-label" >
                    Runtime:
                </label>
                <input 
                    type="text" 
                    id="runtime" 
                    name="runtime" 
                    placeholder="HH:MM:SS (ex. 00:45:00)"
                    pattern="^([0-1]\d|2[0-3]):[0-5]\d:[0-5]\d$"
                    class="form-control" required>
            </div>
        </div>
        <!-- #endregion -->

        <!--! Program Format  -->
        <!-- #region -->

            <div class="d-flex">
                <div>
                    <label for="format" class="form-label">
                        Program Format: 
                    </label>
                </div>
                <div class="ms-auto">
                    <select name="format" id="format">
                        <option value="live-action">Live-Action</option>
                        <option value="stop-motion">Stop-Motion</option>
                        <option value="animation">Animation</option>
                        <option value="clay-mation">Clay-Mation</option>
                        <option value="cgi">CGI</option>
                        <option value="tv-series">TV-series</option>
                    </select>
                </div>
            </div>
            
            <!--! Rating Section  -->
            <div class="d-flex mt-3 mb-4">
                <div>
                    <label for="age_restrict" class="form-label">
                        Age-Appropriate Rating: 
                    </label>
                </div>
                <div class="ms-auto">
                    <select name="age_restrict" id="age_restrict">
                        <option value="G">G</option>
                        <option value="PG">PG</option>
                        <option value="PG-13">PG-13</option>
                        <option value="R">R</option>
                        <option value="NC-17">NC-17</option>
                        <option value="TV-Y">TV-Y</option>
                        <option value="TV-G">TV-G</option>
                        <option value="TV-PG">TV-PG</option>
                        <option value="TV-14">TV-14</option>
                        <option value="TV-MA">TV-MA</option>
                        <option value="NR">NR</option>
                        <option value="Approved">Approved</option>
                    </select>
                </div>
            </div>
        <!-- #endregion -->
        
        <!--! Approval, Image and Description  -->
        <!-- #region -->
        <div class="d-flex justify-content-between align-items-baseline">
            <div class="col-3">
                <label for="rating" class="form-label">
                    Approval Rating:
                </label>
                <input 
                    type="number" 
                    id="rating" 
                    name="rating" 
                    min="0"
                    max="10"
                    step="0.1"
                    placeholder="ex: 7.9"
                    class="form-control">    
            </div>
        
            <div class="mb-3 col-6">
                <label for="formFile" class="form-label">
                    Submit Program Image:
                </label>
                <input 
                    class="form-control" 
                    type="file" 
                    name="img_url"
                    id="formFile">
            </div>
        </div>
        
        <!--! Program Description  -->
        <div class=" mb-3">
            <label for="description" class="form-label">
                Describe the movie/tv-show:
            </label>
            <textarea 
                name="description" 
                id="description" 
                placeholder="describe a bit about the movie/tv-show"
                class="form-control"
                rows="3">
            </textarea>   
        </div>
        <!-- #endregion -->
        
        <button 
            class="allButton mb-3" 
            type="submit" 
            role="button">
            Add Movie
        </button>

        </form>
        </div>    
    </div>
</main>

<%- include('../../partials/footer') %>
