<%- include('../../partials/header') %>

<main class="main" id="main">
    <h2 class="text-center text-capitalize mb-5">add a Program below!</h2>
    <div class="container d-flex flex-wrap justify-content-evenly">
        <form 
            action="http://localhost:3713/api/program/create"
            method="post"
            class="form" 
            id="programForm"
        >

        <!--! Title, Year Released and Runtime  -->
        <!-- #region -->
        <div class="d-flex flex-wrap justify-content-around mb-4 text-center">
            <div class="col-3">
                <label for="title" class="form-label">
                    Title of Program:
                </label>
                <input 
                type="text" 
                id="title" 
                name="title" 
                class="form-control" required>
            </div>
    
            <div class="col-2">
                <label for="yr_released" class="form-label">
                    Year Released:
                </label>
                <input 
                    type="text" 
                    id="yr_released" 
                    name="yr_released" 
                    maxlength="4"
                    class="form-control" required>
            </div>
            
            <div class="col-2">
                <label for="runtime" class="form-label" >
                    Runtime:
                </label>
                <input 
                    type="text" 
                    id="runtime" 
                    name="runtime" 
                    step="1"
                    maxlength="8"
                    class="form-control" required>
            </div>
        </div>
        <!-- #endregion -->

        <div class="mb-3">
            <label for="format" class="form-label">
                Program Format: 
            </label>
            <select name="format" id="format">
                <option value="live-action">Live-Action</option>
                <option value="stop-motion">Stop-Motion</option>
                <option value="animation">Animation</option>
                <option value="clay-mation">Clay-Mation</option>
                <option value="cgi">CGI</option>
                <option value="tv-series">TV-series</option>
            </select>
        </div>
        
    <!--! Rating Section  -->
    <!--#region  -->
        <p class="text-center mb-3">Please select the age-appropriate rating of the Program:</p>
        <div class="d-flex justify-content-between mb-4">
            <div class="">
                    <label for="rating" class="form-label">
                        G
                    </label>
                    <input 
                        type="radio" 
                        id="rating" 
                        name="rating" 
                        value="G"
                        class="">
            </div>        

            <div class="">
                <label for="rating" class="form-label">
                    PG
                </label>
                <input 
                    type="radio" 
                    id="rating" 
                    name="rating" 
                    value="PG"
                    class="">
            </div>
            
            <div class="">
                <label for="rating" class="form-label">
                    PG-13
                </label>
                <input 
                    type="radio" 
                    id="rating" 
                    name="rating"
                    value="PG-13" 
                    class="">
            </div>

            <div class="">
                <label for="rating" class="form-label">
                    R
                </label>
                <input 
                    type="radio" 
                    id="rating" 
                    name="rating" 
                    value="R"
                    class="">    
            </div>

            <div class="">
                <label for="rating" class="form-label">
                    NC-17
                </label>
                <input 
                    type="radio" 
                    id="rating" 
                    name="rating" 
                    value="NC-17"
                    class="">    
            </div>

            <div class="">
                    <label for="rating" class="form-label">
                        NR
                    </label>
                    <input 
                        type="radio" 
                        id="rating" 
                        name="rating" 
                        value="NR" 
                        class="">
                        <!--! the value option is mandatory in radio and checkbox buttons so that it can match the data from your SQL  -->
            </div>
            
            <div class="">
                <label for="rating" class="form-label">
                    Approved
                </label>
                <input 
                    type="radio" 
                    id="rating" 
                    name="rating" 
                    value="Approved"
                    class="">    
            </div>

            <div class="">
                    <label for="rating" class="form-label">
                        TV-Y
                    </label>
                    <input 
                        type="radio" 
                        id="rating" 
                        name="rating" 
                        value="NR" 
                        class="">                       
            </div>

            <div class="">
                    <label for="rating" class="form-label">
                        TV-G
                    </label>
                    <input 
                        type="radio" 
                        id="rating" 
                        name="rating" 
                        value="G"
                        class="">
            </div>        

            <div class="">
                <label for="rating" class="form-label">
                    TV-PG
                </label>
                <input 
                    type="radio" 
                    id="rating" 
                    name="rating" 
                    value="PG"
                    class="">
            </div>
            
            <div class="">
                <label for="rating" class="form-label">
                    TV-14
                </label>
                <input 
                    type="radio" 
                    id="rating" 
                    name="rating"
                    value="PG-13" 
                    class="">
            </div>

            <div class="">
                <label for="rating" class="form-label">
                    TV-MA
                </label>
                <input 
                    type="radio" 
                    id="rating" 
                    name="rating" 
                    value="R"
                    class="">    
            </div>
        </div>
        <!--#endregion  -->
            
        
        <div class="d-flex justify-content-between align-items-baseline">

                <div class="col-3">
                    <label for="rating" class="form-label">
                        How would you rate the movie/tv-show?
                    </label>
                    <input 
                        type="text" 
                        id="rating" 
                        name="rating" 
                        placeholder="example: 7.9"
                        maxlength="3"
                        class="form-control">    
                </div>
            
                <div class="col-3">
                    <label for="description" class="form-label">
                        Describe the movie/tv-show:
                    </label>
                    <textarea 
                        name="description" 
                        id="description" 
                        placeholder="describe a bit about the movie/tv-show"
                        class="form-control"
                        rows="5">
                    </textarea>   
                </div>
    
                <div class="mb-3 col-3">
                    <label for="formFile" class="form-label">
                        Submit Program Image:
                    </label>
                    <input 
                        class="form-control" 
                        type="file" 
                        id="formFile">
                </div>
            </div>
    
        <button 
            class="btn btn-primary" 
            type="submit" 
            role="button">Add Movie</button>
        </form>
    </div>
    <p class="text-end"><a href="/">Return Home</a></p>
</main>

<%- include('../../partials/footer') %>

<!--* Crazpicc's notes  -->

<!--! When you go ahead and submit the form, it submits the movie title, rating, runtime, nationality, yr_released, budget, gross and showing options.  The rest that need to be added and fixed are the production_id and what production company it is, adding a poster/image and getting the actors and directors.   -->

<!--*  -->
